html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: #333;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 80, 160);
}

label {
    display: block;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input:disabled {
    color: #ccc;
}

button {
    color: #333;
    background-color: #f4f4f4;
    outline: none;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}

.autoComplete_wrapper {
    position: relative;
}

.autoComplete_wrapper>ul {
    bottom: auto !important;
    top: 100% !important;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
    background: #121213;
    border: 1px solid orange;
    transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
    -webkit-transition: 0.15s ease-in-out;
}

.autoComplete_wrapper>ul>li {
    /* margin: 0.3rem;
    padding: 0.3rem 0.5rem;
    text-align: left;
    font-size: 1rem;
    border-radius: 0.35rem;
    background-color: #121213;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.2s ease; */
    padding: 0.5rem 0.75rem;
    border-bottom: 1px solid #3a3a3c;
    letter-spacing: 1px;
    line-height: 1.3;
}

.autoComplete_wrapper>ul>li mark {
    background-color: transparent;
    color: orange;
    font-weight: bold;
}

.autoComplete_wrapper>ul>li:hover {
    cursor: pointer;
    background-color: rgba(255, 162, 0, 0.15);
}

.autoComplete_wrapper>ul>li[aria-selected="true"] {
    background-color: rgba(255, 162, 0, 0.15);
}